.navBar {
        font-family: 'Share Tech Mono';font-size: 12px;
        color: #727272;
        text-align: center;
        display: inline;
    }
.text-content {
        font-family: 'Noto Sans Mono';font-size: 22px;
        color: #727272;
        float: right;
}
.container {
    position: relative;
}
