.navItems {
        font-family: 'Share Tech Mono';font-size: 22px;
        color: #727272;
        text-align: center;
        display: inline-block;
        display:flex;
    }
.navBar {
        font-family: 'Share Tech Mono';font-size: 22px;
        color: #727272;
        text-align: center;
    }
.text-content {
        font-family: 'Noto Sans Mono';font-size: 22px;
        color: #fff;
        float: right;
}
